:root{
    --basic-grey: #bcb9b9;
    --basic-red: #ee2c2c;

}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#global-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}


#mainlogo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #787272;
    text-decoration: none;
}

a{
    color: #000;
    text-decoration: none;
}

.deal-section{
    background-color: var(--basic-grey);
    padding: 1rem;
}


article{
    margin: 1rem 0;
    border: 1px solid #efefef;
    max-width: 400px;
    width: 100%;
    min-width: 250px;
    padding: 1rem;

    img{
        width: 100%;
        max-width: 400px;
        min-width: 250px;
    }
}

.btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border: none;
}